name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            echo "Connecting to EC2..."
            echo "Activating virtual environment..."
            cd /root/TheBotss/EzQanoon-Statue-Bot
            echo "Pulling latest code from GitHub..."
            git reset --hard
            git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/The-Botss-2/EzQanoon-Statue-Bot.git
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            pm2 restart Single-Statue-Bot --update-env || pm2 start main.py --name Single-Statue-Bot --interpreter python3
            pm2 save
            echo "Deployment complete."
